html
    head
        title=title
    body
    h1=title
    ul
        img(src="/uploads/NSS_LOGO.png" alt="debugging" width=300)
        img(src='https://stat1.bollywoodhungama.in/wp-content/uploads/2020/04/nupur.jpg' width=300)
        each image in images
            li
                img(src=image alt=image width=300)
    