html
    head
        title=title
    body
    h1=title
    ul
        //img(src="E:/A_An_Einstein/Courses/WebDevelopment/web-Projects/ImageGalleryNodeJS/Gallery/uploads/NSS_LOGO.png" alt="E:/A_An_Einstein/Courses/WebDevelopment/web-Projects/ImageGalleryNodeJS/Gallery/uploads/NSS_LOGO.png" width=300)
        img(src='https://stat1.bollywoodhungama.in/wp-content/uploads/2020/04/nupur.jpg' width=300)
        each image in images
            li
                img(src=image alt=image width=300)
    